.btn {
    border-radius: 0px;
}
.color-lightblue{
    background: #DAECFF
  }
.color-lightteal{
    background: #e4f8ff
}
.color-lightpurple{
    background: #efefff
}
.color-lightgreen{
    background: #edfff0
}